body {
	background: darkslateblue; 
}

 header{
	background-color: midnightblue;
}

#img7{
	width: 100px;
	padding: 0px;
   margin: 0px 20px;

}
li{
	list-style: none;
	padding: 10px; 
}

a{
	text-decoration: none;
	font-family:OCR A Std;
	color: mintcream;
	font-size: 20px;
}

li:hover a{
	color: darkturquoise;
}